.messageBox{
     background-color: gainsboro;
     padding: 1vmax;
     margin: 0.7vmax;
     font-size: 1.2vmax;
     border-radius: 6vmax;
     display: inline-block;
     clear: both;
     font-family: "corbel";
}

.right{
    float: right;
    text-align: right;
    background-color: #4285F4;
    color: white;
    margin-right: 30px;
}

.left{
    float: left;
    text-align: left;
    background-color: rgb(240,240,240);
    margin-left: 40px;
}
